body {
  font-family: "Raleway", Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  /* background-color: black; */
}

#navbar {
  font-family: "Poller One", Arial, sans-serif;
  /* flex-grow: 1; */
  /* max-height: 10%; */
  /* min-height: 40px; */
  background-color: rgb(20, 20, 20);
  color: white;

  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-height: 15vh;
}

#topNavBar {
  background-color: rgb(20, 20, 20);
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: -10px;
}

#home-quote {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-family: cursive;
  /* color: white; */
}

#home-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

#dune {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: auto;
  max-width: 100%;
}

#navbarImgs {
  width: 275px;
  display: flex;
  justify-content: flex-start;
  padding-right: 10px;
  align-items: center;
}

#accioImg {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 5px;
  max-width: 30%;
  height: 200px;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
}

#booksImg {
  width: auto;
  height: 125px;
  transform: rotate(-5deg);
  justify-content: flex-start;
  margin-left: -40px;
}
#username {
  align-content: baseline;
  position: absolute;
  right: 10px;
  top: -20px;
  font-family: fantasy;
  font-size: 1.5rem;
}

#cartNav {
  display: flex;
  height: 30px;
}

#profileIcon {
  display: flex;
  height: 30px;
}

#wizard {
  display: flex;
  height: 50px;
}

#wandImg {
  display: flex;
  width: auto;
  height: 75px;
  transform: rotate(-5deg);
  justify-content: flex-start;
  margin-top: 20px;
}

#accioImg {
  display: flex;
  width: auto;
  height: 75px;
  justify-content: flex-start;
}

#wandImg:hover {
  transform: rotate(-25deg);
  cursor: grabbing;
  transition-delay: 10ms;
}

.links {
  display: flex;
  justify-content: flex-end;
  max-height: 100%;
  padding: 3px;
  color: white;
  font-weight: bold;
  font-size: larger;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.linkBar {
  position: relative;
  top: 30px;
  padding: 3px;
  text-decoration: none;
}
.linkBar:hover {
  color: yellow;
  text-decoration: none;
}

#navbar2 {
  font-family: "Poller One", Arial, sans-serif;
  flex-grow: 1;
  max-height: 5%;
  min-height: 40px;
  background-color: tan;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

svg {
  width: 100%;
}

.squiggle {
  animation: shift 1s linear infinite;
}

@keyframes shift {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-20px);
  }
}

.linkBook {
  padding: 6px;
  color: white;
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
}
.linkBook:hover {
  color: yellow;
}

#footer {
  display: flex;
  /* font-family: "Poller One", Arial, sans-serif; */
  min-height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 2px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#helplinks {
  display: flex;
  border-bottom: thin solid white;
  padding: 5x;
  margin: 5px;
  font-size: medium;
  color: white;
  letter-spacing: 2px;
  font-family: fantasy;
}
.sub-helplinks {
  /* padding: 5x;
  margin: 5px; */
  font-size: medium;
  color: white;
  letter-spacing: 2px;
  font-family: fantasy;
  text-decoration: none;
  font-size: 13px;
  margin-right: 20px;
}

.sub-helplinks:hover {
  color: yellow;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  color: white;
  font-weight: bold;
  font-size: larger;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

footer a {
  font-size: smaller;
  color: white;
  font-family: fantasy;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

footer a:hover {
  border-bottom: 1px solid white;
  margin-bottom: -1px;
}

.footerBar {
  padding: 3px;
  text-decoration: none;
}
.footerBar:hover {
  color: yellow;
  text-decoration: none;
}

#githubImg {
  max-height: 50px;
  max-width: 50px;
  padding: 10px;
}

#githubImg:hover {
  background-color: yellow;
  border-radius: 50px;
  cursor: pointer;
  padding: 4px;
}

#wishlistImg {
  max-height: 50px;
  max-width: 50px;
  padding: 10px;
  text-decoration: none;
}

#singleProduct {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#singleInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 1rem;
  font-size: 25px;
  justify-content: center;
}

#books {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 20px;
  font-family: "fantasy";
  box-shadow: 7px 0 5px gray;
  margin-bottom: 25px;
  border-radius: 100px;
  border: none;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 100px;
}

#singleProduct {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 20px;
  font-family: "fantasy";
  box-shadow: 7px 0 5px gray;
  margin-bottom: 25px;
  border-radius: 100px;
  border: none;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 100px;
}

.single-book-img {
  display: flex;
  height: 300px;
  width: auto;
  object-fit: contain;
  justify-content: center;
  transition: transform 0.2s;
}

/* #childBooks {
  display: flex;
  height: auto;
  width: auto;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  border: 0 10px yellow;
  background-color: black;
  padding: 10px;
} */

.bookChildContainer {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 350px;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  border: 0 10px yellow;
  background-color: black;
  padding: 10px;
  margin: auto;
}

.childproducts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 20px;
  font-family: "fantasy";
  box-shadow: 7px 0 5px gray;
  margin-bottom: 25px;
  border-radius: 100px;
  border: none;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 20px;
}

#childTxtItems {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 70px;
  border: 0 10px yellow;
  background-color: black;
  padding: 10px;
  color: white;
  width: 275px;
  height: auto;
  margin-bottom: 20px;
}

#childBookImg {
  display: flex;
  height: 400px;
  width: 275px;
  object-fit: contain;
  justify-content: center;
  transition: transform 0.2s;
}

.childBookImg:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.teenBookContainer {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 350px;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  border: 0 10px yellow;
  background-color: black;
  padding: 10px;
  margin: auto;
}

.teenproducts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 20px;
  font-family: "fantasy";
  box-shadow: 7px 0 5px gray;
  margin-bottom: 25px;
  border-radius: 100px;
  border: none;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 20px;
}

#teenTxtItems {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 70px;
  border: 0 10px yellow;
  background-color: black;
  padding: 10px;
  color: white;
  width: 275px;
  height: auto;
  margin-bottom: 20px;
}

#teenBookImg {
  display: flex;
  height: 400px;
  width: 275px;
  object-fit: contain;
  justify-content: center;
}

.adultBookContainer {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 350px;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  border: 0 10px yellow;
  background-color: black;
  padding: 10px;
  margin: auto;
}

.adultproducts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 20px;
  font-family: "fantasy";
  box-shadow: 7px 0 5px gray;
  margin-bottom: 25px;
  border-radius: 100px;
  border: none;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 20px;
}

#adultTxtItems {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 70px;
  border: 0 10px yellow;
  background-color: black;
  padding: 10px;
  color: white;
  width: 275px;
  height: auto;
  margin-bottom: 20px;
}

#adultBookImg {
  display: flex;
  height: 400px;
  width: 275px;
  object-fit: contain;
  justify-content: center;
}

.address-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: solid salmon 3px;
  height: max-content;
  width: max-content;
  border-radius: 1rem;
  padding: 1rem;
  margin: auto;
}

.address-line {
  display: flex;
  padding: 0.5rem;
}

.register-line {
  display: flex;
  padding: 0.5rem;
}

.login-line {
  display: flex;
  padding: 0.5rem;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: solid salmon 3px;
  height: max-content;
  width: max-content;
  border-radius: 1rem;
  padding: 1rem;
  margin: auto;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: solid salmon 3px;
  height: max-content;
  width: max-content;
  border-radius: 1rem;
  padding: 1rem;
  margin: auto;
}

.buttons {
  margin-top: 1rem;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.title {
  display: flex;
  font-family: fantasy;
  font-size: larger;
  margin-left: 20px;
  padding: 10px;
}

.description {
  display: flex;
  font-family: fantasy;
  font-size: smaller;
  width: 700px;
  margin-left: 20px;
}

.author {
  display: flex;
  font-family: fantasy;
  font-size: smaller;
  width: 700px;
  margin-left: 20px;
  text-decoration: underline;
}

.shopButtons {
  margin-top: 1rem;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 121px;
}

.shopButtons:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.buttons:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-buttons {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.buttons:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.shopButtons:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.cartprodimg {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 45px;
}
.prodBooks {
  display: flex;
  height: 400px;
  width: 275px;
  object-fit: contain;
  justify-content: center;
  transition: transform 0.2s;
  /* box-shadow: 0 0 5px rgb(0 0 0 / 30%); */
}

.prodBooks:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.bookInfo {
  display: flex;
  height: auto;
  width: 350px;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  border: 0 10px yellow;
  background-color: black;
  padding: 10px;
}

.book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 20px;
  font-family: "fantasy";
  box-shadow: 7px 0 5px gray;
  margin-bottom: 25px;
  border-radius: 100px;
  border: none;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 20px;
}

.cartProds {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 20px;
  font-family: "Poller One", Arial, sans-serif;
  box-shadow: 7px 0 5px gray;
  margin-bottom: 25px;
  border-radius: 10px;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 100px;
  border: solid gray 3px;
}
#cartConfir {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 20px;
  font-family: "Poller One", Arial, sans-serif;
  margin-bottom: 25px;
  border-radius: 10px;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 100px;
  border: solid gray 3px;
}
#addressConfi {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 20px;
  font-family: "Poller One", Arial, sans-serif;
  margin-bottom: 25px;
  border-radius: 10px;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 100px;
  border: solid gray 3px;
}

.wishListText {
  position: relative;
}

.wishListText:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.wishListText:hover:before {
  opacity: 1;
  visibility: visible;
}

.childHover {
  position: relative;
  border-bottom: 1px dotted black;
}

.childHover:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.childHover:hover:before {
  opacity: 1;
  visibility: visible;
}

#notfound {
  display: flex;
  justify-content: center;
  font: fantasy;
}
#webError {
  display: inline;
  justify-content: center;
  font-size: 72px;
  font-family: fantasy;
}

#all-books-title {
  display: flex;
  justify-content: center;
  font-family: fantasy;
}

/* .container {
  position: relative;
  width: 50%;
} */

/* #overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
} */

/* .container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
} */
