body {
  font-family: fantasy;
}

#jess {
  height: 200px;
  width: auto;
  margin: 20px;
  border-radius: 30%;
  margin-left: 150px;
  margin-top: -10px;
}

#jen {
  height: auto;
  width: 200px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 33px;
  border-radius: 30%;
  margin-left: 150px;
}

#kev {
  height: auto;
  width: 200px;
  border-radius: 30%;
  margin-left: 150px;
}

#randy {
  height: 200px;
  width: auto;
  border-radius: 30%;
  margin-left: 200px;
}

.bio {
  max-width: 500px;
  margin: 33px;
  margin-bottom: 50px;
}

#left-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 33px;
  margin-left: 50px;
}

#right-container {
  display: flex;
  justify-content: center;
  margin-left: 50px;
}

#header {
  display: flex;
  justify-content: center;
}

.developers {
  display: flex;
  justify-content: center;
}
