.admin-buttons {
  margin-top: 1rem;
  padding: 0.6em 2em;
  color: rgb(255, 255, 255);
  background-color: crimson;
  cursor: pointer;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-content: center;
  margin: 30px;
  margin-left: 30px;
  border-width: 2px grey;
}

.admin-buttons:hover {
  color: yellow;
}

.admin-button-create {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 0.6em 2em;
  color: rgb(255, 255, 255);
  background-color: crimson;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 47.5%;
}

.admin-button-create:hover {
  color: yellow;
}

.admin-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.admin-form {
  padding: 10px;
  font-family: fantasy;
  margin: 10px;
}

.form-description {
  height: 100px;
  width: 875px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  font-family: fantasy;
}

#admin-edit-button {
  margin-bottom: 20px;
  margin-top: -20px;
  margin-left: 20px;
}

#admin-book-title {
  font-size: 15px;
  margin: 10px;
}

#text-fields {
  margin: 1px;
  margin-bottom: -3px;
  margin-top: 10px;
}

.image-URL {
  width: 700px;
  height: 18px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  font-family: fantasy;
}

.author-form {
  height: 18px;
  width: 250px;
  font-family: fantasy;
}

.book-title {
  height: 18px;
  width: 250px;
  font-family: fantasy;
}

.price-admin {
  height: 18px;
  width: 80px;
  font-family: fantasy;
}

#admin-submit {
  margin: 5px;
}

#make-product {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 20px;
  font-family: fantasy;
}

.description-create {
  height: 100px;
  width: 875px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

#admin-create {
  margin: 20px;
}

#audience-create {
  margin: 3px;
}

#admin-button-make-product {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 0.6em 2em;
  color: rgb(255, 255, 255);
  background-color: crimson;
  cursor: pointer;
  border-radius: 10px;
}
#admin-button-make-product:hover {
  color: yellow;
  background-color: black;
}

#admin-return {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 0.6em 2em;
  color: rgb(255, 255, 255);
  background-color: grey;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 20px;
}

#admin-return:hover {
  color: rgb(162, 35, 226);
  background-color: black;
}
